<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

	<link rel="stylesheet" type="text/css" href="styles/divshot-util.css">
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
  	{% block head %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div class="btn-group"></div>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">miniWiki</a>
					<div class="navbar-content">
						<ul class="nav">
							<li class="{{home}}">
								<a href="/">Home</a> 
							</li>
							{% if logged_in %}
							<li class="{{login}}">
								<a href="/logout">Logout</a> 
							</li>
							<li class="{{edit}}" style="display:{{display_edit}};">
								<a href="/_edit/{{path}}">Edit</a> 
							</li>
							{% else %}
							<li class="{{login}}">
								<a href="/login">Login</a> 
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% block content %}{% endblock %}
	</div>
</body>
<footer>
	<div id="footer">{% block footer %}{% endblock %}</div>
</footer>
</html>
