{% extends "base.html" %}
{% block title %}/Signup/{% endblock %}
{% block content %}
<form method="post" class="form">
	<p class="username">
		<input type="text" name="username" id="username" value="{{userValue}}" />
		<label for="username">Username</label>
		<label name="userError">{{userError}}</label>
	</p>
	<p class="password">
		<input type="password" id="password" name="password" />
		<label for="password">Password</label>
		<label name="passwordError">{{passwordError}}</label>
	</p>
	<input type="submit" value="login">
</form>
{% endblock %}