{% extends "base.html" %}
{% block title %}miniWiki | Login{% endblock %}
{% block content %}
<div class="container">
	<form class="form-horizontal" method="post" name="login">
		<div class="control-group">
			<label class="control-label">Username</label>
			<div class="controls">
				<input class="input-large" type="text" name="username" value="{{userValue}}"> 
			</div>
			<div class="control-error">
				<div name="error">{{error}}</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Password</label>
			<div class="controls">
				<input class="input-large" type="password" name="password" value="{{passwordValue}}"> 
			</div>
		</div>
		<div class="form-actions">
        	<input type="submit" class="btn btn-primary" value="Login">
        	<a class="btn" href="/"><span class="btn-label">Cancel</span></a> 
      </div>
	</form>
</div>
</body>
<body OnLoad="document.login.username.focus();">
{% endblock %}