{% extends "base.html" %}
{% block title %}miniWiki | Signup{% endblock %}

{% block content %}
    <div class="container">
      <form class="form-horizontal" method="post" name="signup">
        <div class="control-group">
          <label class="control-label">Username</label>
          <div class="controls">
            <input class="input-large" type="text" name="username" value="{{userValue}}"> 
          </div>
          <div class="control-error" name="userError">{{userError}}</div>
        </div>
        <div class="control-group">
          <label class="control-label">Password
            <br> 
          </label>
          <div class="controls">
            <input class="input-large" type="password" name="password"> 
          </div>
          <div class="control-error">
          	<p name="passwordError">{{passwordError}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Verify</label>
          <div class="controls">
            <input class="input-large" type="password" name="verify"> 
          </div>
		  <div class="control-error">
          	<p name="verifyError">{{verifyError}}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Email (optional)</label>
          <div class="controls">
            <input class="input-large" type="text" name="email" value="{{emailValue}}"> 
          </div>
          <div class="control-error">
          	<p name="emailError">{{emailError}}</p>
          </div>
        </div>
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Signup!">
        <a class="btn" href="/"><span class="btn-label">Cancel</span></a> 
      </div>
    </form>
    </div>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
</body>
<body OnLoad="document.signup.username.focus();">
{% endblock %}