{% extends "base.html" %}
{% block title %}/Submit/{% endblock %}
{% block content %}
<div><a href="/">/Home/</a></div>
<form method="post">
	<label>
		<div>Title:</div>
		<input type="text" name="subject" value="{{subject}}" size="100">
	</label>
	<label>
		<div>Content:</div>
		<textarea name="content" rows="20" cols="100">{{content}}</textarea>
	</label>
	<div class="error">{{error}}</div>
	<label>
		<input type="submit" value="post">
	</label>
</form>
{% endblock %}
{% block footer %}
<div class="query-time">Queried {{query_time}} seconds ago</div>
{% endblock %}