{% extends "base.html" %}
{% block title %}miniWiki | {{path}}{% endblock %}
{% block content %}
	{% if edit %}
		<script src="/ckeditor/ckeditor.js"></script>
		<div class="container">
		<form class="form-horizontal" method="post" name="form">
			<div class="control-group">
				<textarea class="boxsizingBorder" name="content">{{content}}</textarea>
			</div>
			<div class="form-actions">
	        	<input type="submit" class="btn btn-primary" value="Save">
	        	<a class="btn" href="../{{path}}"><span class="btn-label">Cancel</span></a> 
	      </div>
		</form>
		</div>
		</body>
		<script>
	    	CKEDITOR.replace('content');
		</script>
	{% else %}
		{{content}}
	{% endif %}
{% endblock %}
